.entities__card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1.6rem;
}

.entities__heading-container {
  border-bottom: 2px solid var(--secondaryGrey);
  margin: 2.6rem 0 2rem;
  padding-bottom: 8px;
}

.entities__heading {
  display: inline;
  border-bottom: 2px solid var(--dark);
  padding: 0 0 8px 6px;
}
